<% include partials/_header%>


<div class="container ">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Nuevo Evento</h2>
          <form action="/api/tareas" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="titulo" placeholder="Ingrese el titulo">
            </div>
            <div class="form-group">
              <textarea cols="80" class="form-control" name="descripcion" placeholder="Inserte la descripción"></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" type="date" name="fecha">
            </div>
            <button type="submit" class="btn btn-primary btn-block"name="button" value="Agregar">Agregar </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < tareas.length; i++){%>
            <tr>
              <td><%= i + 1%></td>
              <td><%= tareas[i].titulo%></td>
              <td><%= tareas[i].descripcion%></td>
              <td><%= tareas[i].fecha%></td>
              <td>
                <%
                let color = "";
                if(tareas[i].estado === true){
                  color = "success";
                } else {
                  color = "dark";
                }%>
                <!-- <a href="{{  url('user', [$user->id])}}  " class="btn btn-danger" data-method="delete" data-confirm="Are you sure?">Delete</a> -->
                <a href="/api/tareas/<%= tareas[i]._id %>/completada" class="btn btn-<%= tareas[i].estado === true? "success":"dark";%>" name="btnDone">Hecho</a>
                <!-- <form method="POST" action="/<%=tareas[i]._id%>?_method=PUT">
                  <button class="btn btn-warning" type="submit">Editar</button>
                </form> -->
                <form method="GET" action="/api/tareas/<%=tareas[i]._id%>">
                  <button class="btn btn-warning" type="submit">Editar</button>
                </form>
                <form method="POST" action="/api/tareas/<%=tareas[i]._id%>?_method=DELETE">
                  <button class="btn btn-danger" type="submit">Borrar</button>
                </form>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
      <!-- LIST -->
    </div>
  </div>

  <!-- <p>Video iframe</p>
  <iframe allowfullscreen="" frameborder="0"
  height="300" hspace="0" mozallowfullscreen=""
  scrolling="auto" src="https://www.youtube.com/embed/lhkwLtDIMHI"
  vspace="0" webkitallowfullscreen="" width="534" class="video">Video en un iframe</iframe> -->


  <% include partials/_footer%>
